package {{topPackage}}.{{moduleName}}.web;

import {{topPackage}}.base.web.AbstractControllerTest;
import {{topPackage}}.{{moduleName}}.web.TestConfig;
import {{topPackage}}.{{moduleName}}.domain.{{Domain}};
import {{topPackage}}.{{moduleName}}.domain.{{DomainPlural}};
import {{topPackage}}.{{moduleName}}.service.{{Domain}}Service;
import {{topPackage}}.{{moduleName}}.service.query.{{Domain}}Query;

import com.google.common.collect.Maps;
import com.kentchiu.spring.base.domain.DomainUtil;

import org.hamcrest.Matchers;
import org.junit.Before;
import org.junit.Ignore;
import org.junit.Test;
import org.mockito.Mockito;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.HttpStatus;
import org.springframework.http.MediaType;
import org.springframework.test.context.ContextConfiguration;
import org.springframework.test.web.servlet.request.MockHttpServletRequestBuilder;

import java.util.Map;
import java.util.Optional;

import static org.mockito.Mockito.*;
import static org.springframework.test.web.servlet.request.MockMvcRequestBuilders.*;
import static org.springframework.test.web.servlet.result.MockMvcResultMatchers.jsonPath;
import static org.springframework.test.web.servlet.result.MockMvcResultMatchers.status;



@ContextConfiguration(classes = {TestConfig.class})
public class {{Domain}}ControllerTest extends AbstractControllerTest {

    @Autowired
    private {{Domain}}Service mockService;


    @Override
    @Before
    public void setUp() throws Exception {
        super.setUp();
        reset(mockService);
    }

    @Test
    public void testList{{DomainPlural}}() throws Exception {
        when(mockService.findAll(any({{Domain}}Query.class))).thenReturn({{DomainPlural}}.page(3));

        MockHttpServletRequestBuilder requestBuilder = get("/{{domainPlural}}")
                .contentType(MediaType.APPLICATION_JSON);

        mockMvc.perform(requestBuilder)
                .andExpect(status().is(HttpStatus.OK.value()))
                .andExpect(jsonPath("$.totalElements").value(Matchers.greaterThan(1)));
    }

    @Ignore("Don't ignore this, make it GREEN BAR instead ")
    @Test
    public void testAdd{{Domain}}() throws Exception {
        Map<String, String> input = Maps.newLinkedHashMap();
        input.put("name", "name_001");

        String json = DomainUtil.toJson(input);

        MockHttpServletRequestBuilder requestBuilder = post("/{{domainPlural}}")
                .contentType(MediaType.APPLICATION_JSON)
                .content(json);

        mockMvc.perform(requestBuilder)
                .andExpect(status().is(HttpStatus.CREATED.value()))
                .andExpect(jsonPath("$.name").value("name_001"));

        verify(mockService).add(Mockito.any({{Domain}}.class));
    }

    @Test
    public void testGet{{Domain}}() throws Exception {
        {{Domain}} {{domain}} = {{DomainPlural}}.all().get(0);
        String uuid = {{domain}}.getUuid();
        when(mockService.findOne(uuid)).thenReturn(Optional.of({{domain}}));

        MockHttpServletRequestBuilder requestBuilder = get("/{{domainPlural}}/" + uuid)
                .contentType(MediaType.APPLICATION_JSON);

        mockMvc.perform(requestBuilder)
                .andExpect(status().is(HttpStatus.OK.value()))
                .andExpect(jsonPath("$.uuid").exists());
    }


    @Ignore("Don't ignore this, make it GREEN BAR instead ")
    @Test
    public void testUpdate{{Domain}}() throws Exception {
        {{Domain}} {{domain}} = {{DomainPlural}}.all().get(0);
        String uuid = {{domain}}.getUuid();

        Map<String, String> input = Maps.newLinkedHashMap();
        input.put("name", "name_new");

        String json = DomainUtil.toJson(input);

        when(mockService.findOne(uuid)).thenReturn(Optional.of({{domain}}));

        MockHttpServletRequestBuilder requestBuilder = patch("/{{domainPlural}}/" + uuid)
                .contentType(MediaType.APPLICATION_JSON)
                .content(json);

        mockMvc.perform(requestBuilder)
                .andExpect(status().is(HttpStatus.OK.value()))
                .andExpect(jsonPath("$.name").value("name_new"));

        verify(mockService).update(any({{Domain}}.class));
    }


    @Test
    public void testDelete{{Domain}}() throws Exception {
        {{Domain}} {{domain}} = {{DomainPlural}}.all().get(0);
        String uuid = {{domain}}.getUuid();

        MockHttpServletRequestBuilder requestBuilder = delete("/{{domainPlural}}/" + uuid)
                .contentType(MediaType.APPLICATION_JSON);

        mockMvc.perform(requestBuilder)
                .andExpect(status().is(HttpStatus.NO_CONTENT.value()));

        verify(mockService).delete(uuid);
    }

}


