package {{topPackage}}.{{moduleName}}.domain;

import {{topPackage}}.base.domain.BaseDomains;
import com.google.common.collect.Lists;
import com.kentchiu.spring.base.domain.CsvExporter;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageImpl;

import java.io.IOException;
import java.util.List;

public class {{DomainPlural}} {

    private {{DomainPlural}}() {
    }


    public static List<{{Domain}}> all() {
        return BaseDomains.export({{Domain}}.class, "{{table.name}}.csv");
    }


    public static Page<{{Domain}}> page(int size) {
        return new PageImpl<>(all().subList(0, size));
    }

}
