## {{Domain}}.java

```java
{{{entity}}}
```


##  {{Domain}}Input.java

```java
{{{input}}}
```

##  {{Domain}}UpdateInput.java

```java
{{{update}}}
```

##  {{Domain}}Query.java

```java
{{{query}}}
```

