package {{topPackage}}.{{moduleName}}.web;

import {{topPackage}}.base.web.AbstractControllerTest;
import {{topPackage}}.{{moduleName}}.domain.{{masterDomain}};
import {{topPackage}}.{{moduleName}}.domain.{{detailDomain}};
import {{topPackage}}.{{moduleName}}.domain.{{extendDetailDomain}};
import {{topPackage}}.{{moduleName}}.domain.{{masterDomainPlural}};
import {{topPackage}}.{{moduleName}}.domain.{{detailDomainPlural}};
import {{topPackage}}.{{moduleName}}.domain.{{extendDetailDomainPlural}};
import {{topPackage}}.{{moduleName}}.service.{{masterDomain}}Service;
import {{topPackage}}.{{moduleName}}.service.{{detailDomain}}Service;
import {{topPackage}}.{{moduleName}}.service.{{extendDetailDomain}}Service;
import {{topPackage}}.{{moduleName}}.service.query.{{detailDomain}}Query;
import {{topPackage}}.{{moduleName}}.web.dto.{{detailDomain}}Input;
import {{topPackage}}.{{moduleName}}.web.dto.{{detailDomain}}UpdateInput;

import com.google.common.collect.Maps;
import com.kentchiu.spring.base.domain.DomainUtil;
import org.hamcrest.Matchers;
import org.junit.Before;
import org.junit.Test;
import org.mockito.Mockito;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.HttpStatus;
import org.springframework.http.MediaType;
import org.springframework.test.context.ContextConfiguration;
import org.springframework.test.web.servlet.request.MockHttpServletRequestBuilder;

import java.util.Map;
import java.util.Optional;

import static org.mockito.Matchers.any;
import static org.mockito.Mockito.reset;
import static org.mockito.Mockito.verify;
import static org.mockito.Mockito.when;
import static org.springframework.test.web.servlet.request.MockMvcRequestBuilders.*;
import static org.springframework.test.web.servlet.result.MockMvcResultMatchers.jsonPath;
import static org.springframework.test.web.servlet.result.MockMvcResultMatchers.status;


@ContextConfiguration(classes = {TestConfig.class})
public class {{Domain}}ControllerTest extends AbstractControllerTest {

    private String {{masterName}}Uuid;
    private String {{detailName}}Uuid;

    @Autowired
    private {{Domain}}Service mockService;
    @Autowired
    private {{masterDomain}}Service mock{{masterDomain}}Service;
    @Autowired
    private {{detailDomain}}Service mock{{detailDomain}}Service;


    @Override
    @Before
    public void setUp() throws Exception {
        super.setUp();
        reset(mockService);
        reset(mock{{masterDomain}}Service);
        reset(mock{{detailDomain}}Service);
        {{masterDomain}} {{masterName}} = {{masterDomainPlural}}.all().get(0);
        {{detailDomain}} {{detailName}} = {{detailDomainPlural}}.all().get(0);
        {{masterName}}Uuid = {{masterName}}.getUuid();
        {{detailName}}Uuid = {{detailName}}.getUuid();
        when(mock{{masterDomain}}Service.findOne({{masterName}}Uuid)).thenReturn(Optional.of({{masterName}}));
        when(mock{{detailDomain}}Service.findOne({{detailName}}Uuid)).thenReturn(Optional.of({{detailName}}));
    }

    @Test
    public void testList{{extendDetailDomainPlural}}() throws Exception {
        when(mockService.findAll(any({{extendDetailDomain}}Query.class))).thenReturn({{extendDetailDomainPlural}}.page(3));

        MockHttpServletRequestBuilder requestBuilder = get("/{{masterNamePlural}}/" + {{masterName}}Uuid + "/{{detailNamePlural}}/" + {{detailName}}Uuid + "/{{extendDetailNamePlural}}")
                .contentType(MediaType.APPLICATION_JSON);

        mockMvc.perform(requestBuilder)
                .andExpect(status().is(HttpStatus.OK.value()))
                .andExpect(jsonPath("$.totalElements").value(Matchers.greaterThan(1)));
    }


    @Test
    public void testAdd{{extendDetailDomain}}() throws Exception {
        Map<String, String> input = Maps.newLinkedHashMap();
        input.put("name", "name_001");

        String json = DomainUtil.toJson(input);

        MockHttpServletRequestBuilder requestBuilder = post("/{{masterNamePlural}}/" + {{masterName}}Uuid + "/{{detailNamePlural}}/" + {{detailName}}Uuid + "/{{extendDetailNamePlural}}")
                .contentType(MediaType.APPLICATION_JSON)
                .content(json);

        mockMvc.perform(requestBuilder)
                .andExpect(status().is(HttpStatus.CREATED.value()))
                .andExpect(jsonPath("$.name").value("name_001"));

        verify(mockService).add(Mockito.any({{Domain}}.class));
    }

    @Test
    public void testGet{{extendDetailDomain}}() throws Exception {
        {{extendDetailDomain}} {{extendDetailName}} = {{extendDetailDomainPlural}}.all().get(0);
        String uuid = {{extendDetailName}}.getUuid();
        when(mockService.findOne(uuid)).thenReturn(Optional.of({{extendDetailName}}));

        MockHttpServletRequestBuilder requestBuilder = get("/{{masterNamePlural}}/" + {{masterName}}Uuid + "/{{detailNamePlural}}/" + {{detailName}}Uuid + "/{{extendDetailNamePlural}}/" + uuid)
                .contentType(MediaType.APPLICATION_JSON);

        mockMvc.perform(requestBuilder)
                .andExpect(status().is(HttpStatus.OK.value()))
                .andExpect(jsonPath("$.uuid").exists());
    }


    @Test
    public void testUpdate{{extendDetailDomain}}() throws Exception {
        {{extendDetailDomain}} {{extendDetailName}} = {{extendDetailDomainPlural}}.all().get(0);
        String uuid = {{extendDetailName}}.getUuid();

        Map<String, String> input = Maps.newLinkedHashMap();
        input.put("name", "name_new");

        String json = DomainUtil.toJson(input);

        when(mockService.findOne(uuid)).thenReturn(Optional.of({{extendDetailName}}));

        MockHttpServletRequestBuilder requestBuilder = patch("/{{masterNamePlural}}/" + {{masterName}}Uuid + "/{{detailNamePlural}}/" + {{detailName}}Uuid  + "/{{extendDetailNamePlural}}/" + uuid)
                .contentType(MediaType.APPLICATION_JSON)
                .content(json);

        mockMvc.perform(requestBuilder)
                .andExpect(status().is(HttpStatus.OK.value()))
                .andExpect(jsonPath("$.name").value("name_new"));

        verify(mockService).update(any({{Domain}}.class));
    }


    @Test
    public void testDelete{{extendDetailDomain}}() throws Exception {
        {{extendDetailDomain}} {{extendDetailName}} = {{extendDetailDomainPlural}}.all().get(0);
        String uuid = {{extendDetailName}}.getUuid();

        MockHttpServletRequestBuilder requestBuilder = delete("/{{masterNamePlural}}/" + {{masterName}}Uuid + "/{{detailNamePlural}}/" + {{detailName}}Uuid  + "/{{extendDetailNamePlural}}/" + uuid)
                .contentType(MediaType.APPLICATION_JSON);

        mockMvc.perform(requestBuilder)
                .andExpect(status().is(HttpStatus.NO_CONTENT.value()));

        verify(mockService).delete(uuid);
    }

}