{{#packageName}}
package {{packageName}};
{{/packageName}}

import com.kentchiu.spring.attribute.AttributeInfo;
import com.kentchiu.spring.base.domain.Option;
import org.hibernate.validator.constraints.*;
import javax.validation.constraints.*;
import java.util.Date;
import java.math.BigDecimal;
{{#imports}}
import {{import}};
{{/imports}}


/*
 * {{table.comment}}
 */
public class {{Domain}}Input {{extend}}{
{{{properties}}}
}
