    private {{property.typeName}} {{property.propertyName}}{{{defaultValue}}};

{{#manyToOne}}
    @ManyToOne(fetch = FetchType.LAZY)
    @NotFound(action = NotFoundAction.IGNORE)
    @JoinColumn(name = "{{column.name}}")
{{/manyToOne}}
{{^manyToOne}}
{{#nullability}}
    {{nullability}}
{{/nullability}}
{{/manyToOne}}
{{^manyToOne}}
    {{{columnAnnotation}}}
{{/manyToOne}}
{{#options}}
    {{{options}}}
{{/options}}
    {{{attributeInfo}}}
    public {{property.typeName}} get{{property.methodName}}() {
        return {{property.propertyName}};
    }

    public void set{{property.methodName}}({{property.typeName}} {{property.propertyName}}) {
        this.{{property.propertyName}} = {{property.propertyName}};
    }

