package {{topPackage}}.dao;

import {{topPackage}}.domain.CartDetail;
import org.springframework.data.jpa.repository.JpaRepository;

public interface {{class}}Repository extends JpaRepository<{{class}}, String> {
}
