package {{topPackage}}.dao;

import {{topPackage}}.domain.CartDetail;
import org.springframework.data.jpa.repository.JpaRepository;

public interface {{Domain}}Repository extends JpaRepository<{{Domain}}, String> {
}
