package {{topPackage}}.{{moduleName}}.dao;

import {{topPackage}}.{{moduleName}}.domain.{{Domain}};
import org.springframework.data.jpa.repository.JpaRepository;

public interface {{Domain}}Repository extends JpaRepository<{{Domain}}, String> {
}
