package {{topPackage}}.{{moduleName}}.service;

import {{topPackage}}.{{moduleName}}.domain.{{Domain}};
import com.kentchiu.spring.base.service.CrudService;


public interface {{Domain}}Service extends CrudService<{{Domain}}> {
}


