package {{topPackage}}.{{moduleName}}.service;

import {{topPackage}}.base.service.CrudService;
import {{topPackage}}.{{moduleName}}.domain.{{Domain}};


public interface {{Domain}}Service extends CrudService<{{Domain}}> {
}


