{{#packageName}}
package {{packageName}};
{{/packageName}}

import com.kentchiu.spring.attribute.AttributeInfo;
import com.kentchiu.spring.base.domain.Option;
import org.hibernate.validator.constraints.*;
import javax.validation.constraints.*;
import java.util.Date;
import java.math.BigDecimal;
import com.fasterxml.jackson.annotation.JsonFormat;
{{#imports}}
import {{import}};
{{/imports}}


/*
 * {{table.comment}}
 */
public class {{Domain}}UpdateInput {{extend}}{
    // **************************************************************************************
    // PLEASE NOTE THAT : 有需要用到的property再 uncomment，儘可能的讓 working properties 愈少愈好
    // **************************************************************************************
{{{properties}}}
}
