{{#packageName}}
package {{packageName}};
{{/packageName}}

import com.kentchiu.spring.attribute.AttributeInfo;
import com.kentchiu.spring.base.domain.Option;
import org.hibernate.validator.constraints.*;
import org.hibernate.annotations.GenericGenerator;
import org.hibernate.annotations.NotFound;
import org.hibernate.annotations.NotFoundAction;
import javax.persistence.*;
import javax.validation.constraints.*;
import java.util.Date;
import java.math.BigDecimal;
{{#imports}}
import {{import}};
{{/imports}}


/*
 * {{table.comment}}
 */
public class {{class}}UpdateInput extends {{baseClass}} {
{{{properties}}}
}
